## .NET / Visual Studio
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Ll]og/
[Ll]ogs/

*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

.vs/
.vscode/
*.pdb
*.cache
*.VC.db
*.VC.opendb

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# Test / coverage
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Publish
publish/
PublishProfiles/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
